* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.esteban {
    font-family: 'Esteban', serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}


.hr{ /* div */
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
hr{
    width: 80%;
    margin-bottom: 60px;
}
.fotoConPortada{
    display: flex;
    align-items: center;
}

.miNombre{
    font-size: 3rem;
    width: 650px;
}


body {
    font-size: 20px;
    background-color: lightblue;
}

.navbar {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
}

.miFoto {
    border-radius: 50%;
}

.no-style {
    color: rgb(19, 7, 7);
    text-decoration: none;
}

.navbar-brand {
    font-size: 30px;
}

.header {
    display: flex;
    justify-content: center;

}

.anchor {
    height: 75px;
}

h1 {
    text-align: center;
}

.margin15 {
    margin: 15%;
}

.acercaDeMi {
    text-align: center;
    padding: 0 25% 5%;
    
}
.margin2 {
    padding: 2%;
}

.div {
    margin: 5px;
    border: solid 1px black;
    padding: 5px;
}


.p {
    margin: 5px;
    border: solid 1px red;
    padding: 5px;

}

.opacity:hover {
    color: rgb(131, 131, 131);
}

.form {
    width: 40%;
    margin: auto;
    min-width: 350px;
}
.form-label {
    margin: 14px 0 4px;
}

p {
    margin: 0;
}

#mensaje {
    height: 120px;
    overflow-wrap: break-word;
}

.margin50{
    margin: 50px 0;
}
.card {
    background-color: lightblue;
    border: none;
}

.portfolio {
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
}

.copyright {
    background-color: rgb(15, 85, 97);
    margin-top: auto;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: center;
    color: white;
}

.card-text{
    font-size: 1.2rem;
}
.redes {
    width: 75px;
    height: 75px;
}

.padding15 {
    padding: 15px;
}
.footerRow {
    padding: 20px;
}
.subtitulo{
    font-size: 25px;
}

.margin50{
    margin: 0;
    padding: 50px 0;
}
.botonForm {
    background-color: #A9EAF4;
    border: 1px solid rgb(143, 143, 143);
    color:  black;
    font-family: "Montserrat";
}

.botonForm:hover {
    background-color: #7dabb3 !important; 
    border: 1px solid rgb(143, 143, 143) !important;
    font-family: "Montserrat";
}
/*colores*/
.color1 {
    background-color: #A9EAF4;
}
.color2 {
    background-color: #B5EDF5;
}
.color3 {
    background-color: #C1F0F7;
}
.color4 {
    background-color: #CDF3F8;
}
.color5 {
    background-color: #D8F5FA;
}
.color6 {
    background-color: #E4F8FB;
}
.color7 {
    background-color: #F0FBFD;
}

.textColor {
    color: black;
}

/*
F1F7EF cuando añada el modo oscuro, dejar los colores de abajo x defecto y
que cuando se active se pongan los de arriba mediante JS
.color1 {
    background-color: #002C2C;
}
.color2 {
    background-color: #003232;
}
.color3 {
    background-color: #003838;
}
.color4 {
    background-color: #003E3E;
}
.color5 {
    background-color: #004444;
}
.color6 {
    background-color: #004A4A;
}
.color7 {
    background-color: #005050;
}

.textColor {
    color: white;
} */